@charset "utf-8";
/**************************************************
 * 操作
**************************************************/
div.tr{ /*行*/
}
div.td{ /*FireFox单元格*/
    display:inline-block;
    height:30px;overflow:hidden;
    border:0px solid #C4D8ED;
}
*html div.td{ /*IE6单元格*/
    display:inline;
    overflow:hidden;
}
*+html div.td{ /*IE7单元格*/
    display:inline;
    overflow:hidden;
}
