@charset "utf-8";
/**************************************************
 * tab 标签样式
 **************************************************/
#div_tab{
    float:left;clear:left;
    width:99%;height:300px;overflow:hidden;
    border:1px solid #BED4Ec;
}
.tab_menu_hide{
    display:none;
}
.tab_menu_on{
    width:113px;height:30px;overflow:hidden;
    text-align:center;
    display:inline;
    background:#FFF;
    border-top:1px solid #DED1D1;   border-right:1px solid #DED1D1;
    border-bottom:0px solid #DED1D1;border-left:1px solid #DED1D1;
}
.tab_menu_off{
    width:113px;height:30px;overflow:hidden;
    text-align:center;
    display:inline;
    background:#EEE;
    border-top:1px solid #DED1D1;   border-right:1px solid #DED1D1;
    border-bottom:1px solid #DED1D1;border-left:1px solid #DED1D1;}



