@charset "utf-8";
/**************************************************
 *总体布局
 **************************************************/
body {
  text-align:left;                               /*内容对齐方式*/
  padding:0px 0%;                                /*内补丁*/
  margin:0%;                                     /*外补丁*/
  font:12px/150% "Times New Roman", Times, serif;/*文字样式*/
  /*font-size:30px;line-height:45px;             /*文字大小*/
  scrollbar-track-color:#E2240D;                 /*滚动条背景颜色：暗红色*/
  scrollbar-3dlignt-color:black;                 /*滚动亮边框颜色：黑色*/
  scrollbar-highlight-color:yellow;              /*滚动条3D界面的亮边(ThreeHighlight)颜色*/
  scrollbar-fase-color:red;                      /*滚动条方向前头颜色：红色*/
  scrollbar-arrow-color:black;                   /*滚动条方向前头颜色：红色*/
  scrollbar-base-color:darkred;                  /*滚动条基准颜色：*/
  /*background-image:url(../images/bj.jpg);*/
  background-color:#DED38C;
  background-repeat:no-repeat;
  background-position:center 0px;
}
/*超链接*/
a{
  text-decoration:none;                          /*去掉元素修饰*/
  /*color:#004080;                               链接文字颜色*/
  /*color:#FF0000;*/
  color:#226FA8;
  /*font-weight:bold;*/
}
a:hover{
  color:#ff9600;                                 /*鼠标悬停*/
  /*border: 1px solid #ae0927;                   鼠标悬停边框：宽度 类型 颜色*/
}
a:link{
  color:#1C519F;                                 /*未访问*/
  /*border: 0px solid #408080;                   未访问边框：宽度 类型 颜色*/
}
a:visited{
  color:#1C519F;                                /*已访问*/
  /*border: 0px solid #ff0000;                   已访问边框：宽度 类型 颜色*/
}
a:active{
  color:#0000ff;                                /*被点击*/
  /*border: 1px solid #0000ff;                   被点击边框：宽度 类型 颜色*/
}
hr{
  color:#BBB;
  height:1px;
  width:98%;
  position:relative;left:1%;
}
img{
  border:0px;                                    /*消除图片边框*/
}
table{
  width:100%;
}
.msg{
  color:red;
  font-weight:bold;
}
/*图标外框*/
.iconsOuterDiv{
    text-align:left;
}
.iconsDiv{
    width:20px;height:20px;overflow:hidden;
}
.hr{ /*上下间隔*/
    width:100%;height:3px;overflow:hidden;
    font-size:1px;
    border:0px dotted red;
}
/*************************************************
* 行、域设置
*************************************************/
.rowSolid{ /*单行*/
    width:100%;height:20px;overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; /*中间不换行*/
    padding:1px 1px 1px 10px; /*内补丁上 右 下 左*/
}

#divTopMark{ /*顶部标识*/
    width:100%;height:18px;overflow:hidden;
    font-size:12px;line-height:150%;
}
/*顶部标签*/
#div_topTag{
  width:100%;overflow:hidden;/*overflow:hidden;text-overflow:ellipsis; 文字溢出不换行，用...表示*/
  /*display:inline; 强制左右结点在同一行*/
  text-align:justify;
  color:black;
  background:#FCFDFE;
  border-bottom:0px solid #EE1D30;
  border-top:3px solid #EEEEEE;
}
#div_body{                                      /*主体外框*/
  background:#FFFFFF;
  width:500px;                                    /*宽度100%*/
  text-align:left;
  overflow:hidden;
  position:relative;top:5px;
  /*margin-bottom:40px; 底部外边距*/
}
#div_first{
  background:#F0F0F0;
}
#div_firstLeft{
  font:16px/150% "Times New Roman", Times, serif;/*文字样式*/
  background:#F0F0F0;
  float:left;clear:left;
  width:150px;overflow:hidden;                       /*控制宽度*/
  border:0px solid yellow;
}
#div_firstRight{
  float:right;clear:right;
  width:250px;overflow:hidden;                       /*控制宽度*/
  border:1px solid green;
}
#div_firstMiddle{
  width:600px;overflow:hidden;                       /*控制宽度*/
  background:#FFF;
  /*margin:5px 0px 0px 58px;外边距*/
  padding:0px 0px 0px 0px; /*内边距上、右、下、左*/
}
div.userTitle{
  height:30px;
  background:#7FC2E3;
  border-top:red;
  padding:0px 0px 0px 15px; /*内边距上、右、下、左*/
}
div.summary{
  width:598px;height:250;overflow-x:hidden;
  padding:0px 0px 0px 0px;
  background:#FFF;
  border:1px solid #AAAAAA;
}




