@charset "utf-8"; /*字体后必须加分号，否则只能显示一个结点的样式*/

/***************************************************************************************************
 * 总体布局
***************************************************************************************************/


/***************************************************************************************************
 * 1 演示表单
***************************************************************************************************/
        /*******************************************************************************************
         * 1.2.1 演示表单
        *******************************************************************************************/
        #divMenu{
            width:300px;height:800px;overflow:hidden;
            border:1px solid red;
            display:inline-block; /*强制左右同一行，仅适用firefox*/
        }
        *html #divMenu,*+html #divMenu{display:inline;} /*IE6 IE7*/
        /*******************************************************************************************
         * 1.2.2 演示内容
        *******************************************************************************************/
        #divDemo{
            width:500px;height:800px;overflow:hidden;
            border:1px solid red;
            display:inline-block; /*强制左右同一行，仅适用firefox*/
        }
        *html #divDemo,*+html #divDemo{display:inline;} /*IE6 IE7*/



